.closeButton {
    background-color: red;
    color: white;
    padding: 8px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    font-size:1rem;

}

.addNewCarButton{
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    font-size:1.2rem;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 20%;
    margin-top:12%;
}

table.parkingTable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-collapse: collapse;
}
th,td{
    border: 3px ridge #000000;
    padding: 0.5rem 3rem;
    border-radius: 5px;
}
tr:hover {background-color: #d6d4d4dc;}

th{
    font-size:1.2rem;
    background-color: #aca9a9dc;
}