
.addNewCarButton{
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    font-size:1.2rem;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 20%;
    margin-top:12%;
}

